@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

/* background colors */
$intro-bg: hsl(217, 28%, 15%);
$main-bg: hsl(218, 28%, 13%);
$footer-bg: hsl(216, 53%, 9%);
$feedback-bg: hsl(219, 30%, 18%);

/* accent */
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);

*,*::before,*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}

/*********** Utils Classes ****************/
.btn {
  padding: 1em 4em;

  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 700;

  border: none;
  border-radius: 5em;
  background-color: white;
}

.btn--primary {
  background-color: $blue;
  color: white;
}

.btn:hover {
  background-color: $cyan;
  color: white;

  cursor: pointer;
}

/*********** Mobile first approach *************/
header {
  background-color: $intro-bg;
  display: flex;
  justify-content: space-between;

  padding: 3em 2em;

  img {
    width: 6em;
  }

  ul.header__nav {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 2em;
  }

  li {
    font-family: "Raleway";
    font-weight: 400;

    color: white;
    font-size: 1rem;
  }

  li:hover {
    cursor: pointer;
    font-weight: 700;
    text-decoration-line: underline;
  }
}

main::before {
  content: "";

  width: 100%;
  height: 100vw;

  position: absolute;
  top: 0;
  left: 0;

  background-color: $intro-bg;
  background-image: url("../../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
}

main {
  background-color: $main-bg;
  padding: 4em 2em;

  position: relative;

  .hero {
    position: relative; 
    z-index: 1;

    width: min(720px,100%);
    margin-inline: auto;

    img {
      width: 100%;
    }

    h1 {
      margin-block: 1.5em 1em;
      font-family: "Raleway";
      font-weight: 700;

      color: white;
      font-size: 1.5rem;

      text-align: center;
    }

    p {
      font-family: "Raleway";
      font-weight: 400;

      color: white;
      font-size: 1rem;

      text-align: center;
    }

    button {
      display: block;
      margin-block: 3em;
      margin-inline: auto;
    }
  }

  .feature {
    margin-block: 10em;
    display: grid;
    grid-template-columns: 1fr;

    gap: 2em;

    &__card {
      padding: 1em 0;
      width: min(100%, 370px);
      margin-inline: auto;

      &__img {
        display: flex;
        justify-content: center;

        margin-bottom: 2em;
      }

      h2 {
        font-family: "Raleway";
        font-weight: 700;

        color: white;
        font-size: 1.25rem;

        text-align: center;
      }

      p {
        font-family: "Open Sans";
        font-weight: 400;

        color: white;
        font-size: 1rem;

        text-align: center;
      }
    }
  }

  .productive {
    margin-bottom: 10em;
    display: grid;
    grid-template-columns: 1fr;

    gap: 2em;

    img {
      width: 100%;
    }

    h2 {
      font-family: "Raleway";
      font-weight: 700;

      color: white;
      font-size: 1.25rem;
    }

    p {
      font-family: "Open Sans";
      font-weight: 400;

      color: white;
      font-size: 1rem;
    }

    &__link {
      color: $cyan;
      fill: $cyan;

      display: flex;
      align-items: center;
      gap: .5em;

      width: fit-content;
      position: relative;

      a {
        font-family: "Raleway";
        font-weight: 400;

        color: inherit;
      }

      svg {
        width: 1em;
        fill: inherit;
      }
    }

    &__link::after {
      content: "";

      height: 2px;
      width: 100%;

      background-color: $cyan;

      position: absolute;
      bottom: -20%;
    }

    &__link:hover::after {
      background-color: white;
    }

    &__link:hover {
      color: white;
      fill: white;

      cursor: pointer;
    }
  }

  .feedback {
    margin-block: 10em;

    display: grid;
    grid-template-columns: 1fr;

    gap: 2.5em;
    position: relative;

    &__quotes {
      position: absolute;
      z-index: 2;

      top: -1.8em;
      left: 0.5em;

      width: 2.5em;
    }

    &__card {
      position: relative;
      z-index: 3;

      background-color: $feedback-bg;
      padding: 3em 2em 2em;

      border-radius: 5px;

      &__content {
        font-family: "Open Sans";
        font-weight: 400;

        font-size: 1rem;
        color: white;
        
        margin-bottom: 2em;
      }

      &__profile {
        display: flex;
        flex-direction: row;

        align-items: center;
        gap: 1em;

        img {
          border-radius: 50%;
          width: 3em;
        }

        div {
          display: flex;
          flex-direction: column;

          h3 {
            font-family: "Raleway";
            font-weight: 700;

            font-size: 1rem;
            color: white;
            margin: 0;
          }

          p {
            font-family: "Open Sans";
            font-weight: 400;

            font-size: 1rem;
            color: white;
            margin: 0;
          }
        }
      }
      
    }  
  }
  
  .early-access {
    width: min(875px,100%);
    margin-inline: auto;

    padding: 2em;
    background-color: $intro-bg;

    border-radius: 10px;
    position: relative;
    z-index: 1;

    h2 {
      font-family: "Raleway";
      font-weight: 700;

      color: white;
      font-size: 1.25rem;

      text-align: center;
    }

    p {
      font-family: "Open Sans";
      font-weight: 400;

      color: white;
      font-size: 1rem;

      text-align: center;
    }

    &__form {
      display: grid;

      gap: 1.5em;
      margin-block: 2.5em 1em;

      position: relative;
      input {
        padding: 1em 2em;
        width: 100%;

        font-family: "Open Sans";
        font-size: 1rem;
        font-weight: 400;

        border: none;
        border-radius: 5em;
        background-color: white;
      }

      button {
        padding: 1em 2em;
        width: 100%;
        font-size: 1rem;
      }
    }

    &__error {
      color: $light-red;
      display: none;

      font-family: "Open Sans";
      font-size: 1rem;

      position: absolute;
      bottom: -1.5em;
      left: 2em;
    }

  }
}

main::after {
  content: "";

  width: 100%;
  height: min(50vw,16em);

  position: absolute;
  bottom: 0;
  left: 0;

  background-color: $footer-bg;
}

.footer {
  background-color: $footer-bg;
  padding: 5em 2em;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 1.5em;

  &__logo {
    position: absolute;
    top: 0;
    left: 2em;
  }
  
  &__address {
    display: flex;
    align-items: flex-start;
    gap: 1em;

    p {
      font-family: "Open Sans";
      font-weight: 400;

      color: white;
      font-size: 1.2rem;
      margin: 0;
    }
  }

  &__contact {
    &__mobile {
      span {
        display: inline-block;
        margin-inline: 1em;

        font-family: "Open Sans";
        font-weight: 400;

        color: white;
        font-size: 1.2rem;
      }
    }

    &__email {
      margin-top: 1.5em;
      margin-bottom: 3em;
      span {
        display: inline-block;
        margin-inline: 1em;

        font-family: "Open Sans";
        font-weight: 400;

        color: white;
        font-size: 1.2rem;
      }
    }
  }

  &__nav {
    ul {
      list-style: none;
      padding: 0;
      margin-block: 0;
    }

    li {
      font-family: "Open Sans";
      font-weight: 400;

      color: white;
      font-size: 1.2rem;
      margin-block: .8em;
    }

    li:hover {
      cursor: pointer;
      font-weight: 700;
    }
  }

  &__media {
    display: flex;
    gap: 1em;

    align-self: center;
    justify-content: center;

    svg {
      fill: white;
    }

    svg:hover {
      cursor: pointer;
      fill: $cyan;
    }
  }
}

/*********** Desktop Design **************/

@media only screen and (min-width: 1200px) {
  header {
    padding: 4em 8em;

    img {
      width: 8em;
    }
  }

  main::before {
    background-image: url("../../images/bg-curvy-desktop.svg");
    height: 75em;
  }

  main {
    padding: 0 8em 4em;

    .hero {

      div {
        padding-inline: 5em;
      }

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1.35rem;
      }

      button {
        width: 45%;
      }
    }

    .feature {
      margin-block: 15em;

      grid-template-columns: repeat(2,400px);
      justify-content: center;

      gap: 2em 10vw;

      &__card {
        h2 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.05rem;
        }
      }
    }

    .productive {
      margin-block: 15em;

      display: grid;
      grid-template-columns: 40vw 1fr;

      align-items: center;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.45rem;
      }

      a {
        font-size: 1.2rem;
      }
    }

    .feedback {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      justify-content: space-evenly;

      &__card__content {
        font-size: 1.25rem;
      }

      &__quotes {
        width: 4em;

        left: -.5em;
        top: -2.5em;
      }
    }

    .early-access {
      padding: 2em 5em;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.15rem;
      }

      &__form {
        grid-template-columns: 2fr 1fr;
      }
    }
  }

  main::after {
    height: 11em;
  }

  .footer {
    padding: 6em 8em;

    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    &__logo {
      left: 8em;
    }

    &__address {
      width: 28em;
      margin: 0;
    }

    &__nav {
      margin: 0;

      ul {
        margin: 0;
      }

      li {
        margin-top: 0;
      }
    }

    &__media {
      align-self: flex-start;
    }
  }
}
